@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'PT Sans Narrow', sans-serif;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
}

.open .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
  background: #cd2324;
  z-index: 2;
}

.open .layer:nth-child(2) {
  background: #1941bb;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes  open {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }  
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3,
.header img {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
  font-size: 6em;  
  color: #1941bb;
  animation-delay: 2s;  
}

.bannerText h3 {
  font-size: 3em;  
  color: #1941bb;
  animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #cd2324;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revealText 1s ease-in-out forwards;
  animation-delay: 3s;
}

.bannerText h3:before {
  animation-delay: 4s;
}

@keyframes revealText {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }  
}

@keyframes revealTextReverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  } 
}

.bannerText p {
  opacity: 0;
  font-weight: 400;
  font-size: 1.5em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bannerText a {
  opacity: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background: #cd2324;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}

.bannerText a:hover {
  background: #fff;
  color: #cd2324;
  border: 1px solid #cd2324;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.repair {
  opacity: 0;
  position: absolute;
  border-radius: 8px;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 1s linear forwards;
  animation-delay: 6s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 100;
}

.header img {
  width: 220px;
  height: 100px;
  opacity: 1;
  margin: 0;
  padding: 0;
  animation-delay: 2s;
}

.header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.header ul li {  
  opacity: 0;
  list-style: none;
  margin: 0 10px;
  animation: fadeInRight 0.5s linear forwards;
}

.header ul li:nth-child(1),
.sci li:nth-child(1) {
  animation-delay: 5s;
}

.header ul li:nth-child(2),
.sci li:nth-child(2) {
  animation-delay: 5.25s;
}

.header ul li:nth-child(3),
.sci li:nth-child(3) {
  animation-delay: 5.5s;
}

.sci li:nth-child(4) {
  animation-delay: 5.75s;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  margin: 0;
  border-radius: 8px;
  padding: 5px 10px;
  background: #cd2324;
  letter-spacing: 2px;
}

.header ul li a.active,
.header ul li a:hover {
  background: #fff;
  color: #cd2324;
  border: 1px solid #cd2324;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sci {
  position: absolute;
  bottom: 15px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.sci li {
  opacity: 0;
  list-style: none;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5s;

}

.sci li a {
  font-size: 1.5em;
  color:#1941bb;
  padding: 10px;
}

.sci li a:hover {
  color: #cd2324;
}

.element1 {
  opacity: 0;
  position: absolute;
  bottom: -150px;
  right: 40%;
  width: 250px;
  height: 250px;
  border: 40px solid #cd2324;
  animation: rotate 40s linear infinite, fadeIn 1s linear forwards;
  animation-delay: 7s;
}

.element2 {
  opacity: 0;
  position: absolute;
  left: -10px;
  top: 40%;
  width: 50px;
  height: 50px;
  border: 2px solid #1941bb;
  animation: rotate 30s linear infinite, fadeIn 1s linear forwards;
  animation-delay: 7s;
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
    
  }
  100% {
    transform: rotate(405deg);
    
  }
}


